@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('woff2');
}

:root {
    --primary-primaryColor: hsl(247, 51%, 51%);
    --primary-danger: hsl(359, 100%, 65%);
    --primary-black: hsl(217, 30%, 17%);
    --primary-muted: hsl(217, 9%, 61%);
    --primary-titan-white: hsl(240, 100%, 98%);
    --primary-black-squeeze: hsl(198, 50%, 96%);
    --primary-white: hsl(0, 0, 100%);

    --red-500: hsl(359, 100%, 65%);
    --red-400: hsl(359, 100%, 79%);
    --red-300: hsl(359, 100%, 89%);
    --red-200: hsl(0, 100%, 96%);

    --indigo-600: hsl(247, 48%, 44%);
    --indigo-500: hsl(247, 51%, 51%);

    --gray-200: hsl(0, 0%, 83%);
    --gray-100: hsl(0, 0%, 96%);

    --font-size-36: 2.25rem;
    --font-size-24: 1.5rem;
    --font-size-20: 1.25rem;
    --font-size-16: 1rem;
    --font-size-12: 0.75rem;

    --font-h1: 4.5rem;
    --font-h2: 3rem;
    --font-h3: 2.25rem;
    --font-h4: 1.5rem;
    --font-h5: 1.25rem;
    --font-h6: 1rem;

    --fontfamily-OpenSans-Bold: OpenSans-Bold;
    --fontfamily-OpenSans-ExtraBold: OpenSans-ExtraBold;
    --fontfamily-OpenSans-Regular: OpenSans-Regular;
    --fontfamily-OpenSans-SemiBold: OpenSans-SemiBold;
}

/* Start reset */
/* https://piccalil.li/blog/a-more-modern-css-reset/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* reset end */